.swiper-container {
  position: static;
}

.swiper-pagination {
  bottom: -30px !important;
  &-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background-color: transparent;
    transition: 0.2s;

    &-active {
      background-color: #000;
    }
  }
}
