@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.production-companies {
  &__item {
    margin: 0 20px;
  }
}

.divider {
  border-top: 3px dashed grey !important;
}

@include media-breakpoint-down(sm) {
  .movie-details {
    &__main-row {
      > .col:first-child {
        flex-basis: 100%;
        margin-bottom: 1rem;
      }
    }
  }
}
