@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.movie-card {
  max-width: 400px;
  min-height: 382px;

  & > a {
    height: 100%;
    img {
      height: inherit;
    }

    @media (max-width: 1023px) {
      height: auto;
    }
  }

  &__body {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    overflow: auto;

    @media (max-width: 1023px) {
      position: static;
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover &__body {
    opacity: 1;
    visibility: visible;
  }
}

@include media-breakpoint-down(sm) {
  .movie-card {
    margin: 0;
  }
}
