@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.movie-card {
  max-width: 364px;
  margin-right: 1rem;
}

@include media-breakpoint-down(sm) {
  .movie-card {
    margin: 0;
  }
}